@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" />
<link rel="stylesheet" href="~/Content/style.css" />

<div class="row">
    <div class="col-md-2">
        <h3>Contributors</h3>
        <hr style="background-color:blue;height:1px;" align="center" />
        <ul style="list-style:none">
            <li>Aleksa Shahgoli</li>
            <li>Milos Spasojevic</li>
            <li>Nadica Zarkic</li>
            <li>Marko Filimonovic</li>
            <li>Stefan Filipovic</li>
        </ul>
    </div>

    <div class="col-md-1">
        <h3>Gmail</h3>
        <hr style="background-color:blue;height:1px;" />
        <ul style="list-style:none;">
            <li align="center">
                <a href="#">
                    <i class="fab fa-google"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-google"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-google"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-google"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-google"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-1">
        <h3>GitHub</h3>
        <hr style="background-color:blue;height:1px;" />
        <ul style="list-style:none">
            <li align="center">
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-1">
        <h3>LinkedIn</h3>
        <hr style="background-color:blue;height:1px;" />
        <ul style="list-style:none">
            <li align="center">
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li align="center">
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</div>