
@{
    ViewBag.Title = "DragAndDropStatusMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success" style="text-align:center"><b>@ViewBag.ErrorMessages</b></h1>

<script>
    window.setTimeout(function () {
        window.location.href = 'http://localhost:54789';
    }, 3000);
</script>
