
@{
    ViewBag.Title = "UploadSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success" style="text-align:center"><b>Upload Successful</b></h1>

<script>
window.setTimeout(function(){
    window.location.href = 'http://localhost:54789';
}, 2000);
</script>
